.elementor-1500 .elementor-element.elementor-element-58d515e6{--display:flex;--background-transition:0.3s;}.elementor-1500 .elementor-element.elementor-element-400b0e86 .wpr-post-content{color:#777777;font-size:14px;}.elementor-1500 .elementor-element.elementor-element-400b0e86 .wpr-post-content a{transition-duration:0.1s;}
/*
     FILE ARCHIVED ON 06:49:05 Jul 03, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:29:20 Jul 07, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.521
  exclusion.robots: 0.057
  exclusion.robots.policy: 0.046
  esindex: 0.009
  cdx.remote: 4.649
  LoadShardBlock: 79.406 (3)
  PetaboxLoader3.datanode: 117.045 (5)
  PetaboxLoader3.resolve: 88.461 (2)
  load_resource: 225.235
  loaddict: 122.126
*/